@import "./misc/variables";
@import "./misc/normalize";
@import "./partials/header";
@import "./partials/footer";
@import "./views/inicio";
@import "./views/deportes";
@import "./views/actividades";
@import "./views/contacto";
@import "./views/socio";
