footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: white;
    background-color: #121212;
}
.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}
.logo__footer{
    width: 40px;
    margin-bottom: 1rem;
}
.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}
.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}
.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.menu-item-footer:hover{
    opacity: 1;
}
.menu-title{

    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}
.social-link{
    height: 100%;
    width: 30px;
    background-image: url(/imagenes/FacebookBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}
.social-link:hover{
    opacity: 0.7;
}
footer .social-link:nth-of-type(2){
    background-image: url(/imagenes/TwitterBlanco.png);
}
footer .social-link:nth-of-type(3){/*Nth of type inside that container*/
    background-image: url(/imagenes/LinkedinBlanco.png);
}