.card{
    margin-top: 50px;
    max-width: 500px;
}
.card-img-top{
    max-width: 500px;
    height: 300px;
}
.card-title{
    text-align: center;
    font-size: 30px;
}
.card-text{
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}
